<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upventrix.esgro" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.hardware.touchscreen"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-feature android:name="android.hardware.camera" android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />
    <application



        android:allowBackup="true"
        android:icon="@drawable/logo2x"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:label="@string/app_name">
        <activity android:name="com.upventrix.esgro.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.upventrix.esgro.activity.LaunchedActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.SignUpActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.SignInActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.MobileVerificationActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.EnterVerificationActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.CompleteProfileActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.HomePageActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.BankAndCards2Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.AddCardActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.BankListActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.LinkBankAccountActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.PreferencesActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.CheckPasswordActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.AboutActivity" >


        </activity>
        <activity android:name="com.upventrix.esgro.activity.ExportActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.ContactUsActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.DisputeDetails_01_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.Request_01_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.Request_02_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.Request_03_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.ResponedActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.ProfileActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.UpdateProfileActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.FooterActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.FeedBackAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.CancelDisputeAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.ForfeitAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.ReplyDisputeAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.DisputeActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name="com.upventrix.esgro.activity.RequestActivity"
            android:windowSoftInputMode="stateHidden"
            android:clickable="true"
            android:focusable="true"
            android:focusableInTouchMode="true"

            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.DisputeDetails_No_History_Activity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name="com.upventrix.esgro.activity.DisputeNoHistoryActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name="com.upventrix.esgro.activity.alert.ProcessingAlertActivit"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.ChatActivity" >


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.WarningAlertActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name="com.upventrix.esgro.activity.TransferToBankActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.TransferToCardActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.TransferAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.ContactUsAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.TransferSuccessFullAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.RequestSentAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.CancelledAndCompleted"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.DefaultOptionAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name="com.upventrix.esgro.activity.alert.IClickPopUpAlert"
            android:screenOrientation="portrait">


        </activity>



        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>