<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esgro" >

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.hardware.touchscreen"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
                    <!--android:maxSdkVersion="26"-->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2x"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:label="@string/app_name">
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LaunchedActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.SignInActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.MobileVerificationActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.EnterVerificationActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.CompleteProfileActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.HomePageActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.BankAndCards2Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.AddCardActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.BankListActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.LinkBankAccountActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.PreferencesActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.CheckPasswordActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.AboutActivity" >


        </activity>
        <activity android:name=".activity.ExportActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.DisputeDetails_01_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.Request_01_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.Request_02_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.Request_03_Activity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.ResponedActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.UpdateProfileActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.FooterActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.FeedBackAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.CancelDisputeAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.ForfeitAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.ReplyDisputeAlertActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.DisputeActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".activity.RequestActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.DisputeDetails_No_History_Activity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".activity.DisputeNoHistoryActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".activity.alert.ProcessingAlertActivit"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.ChatActivity" >


        </activity>
        <activity android:name=".activity.alert.WarningAlertActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".activity.TransferToBankActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.TransferToCardActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.TransferAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.ContactUsAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.TransferSuccessFullAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.RequestSentAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.CancelledAndCompleted"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.DefaultOptionAlert"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activity.alert.IClickPopUpAlert"
            android:screenOrientation="portrait">


        </activity>






        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--<receiver android:name=".activity.sms.SmsReceiver ">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.provider.Telephony.SMS_RECEIVED"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>